@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/* Ensures ALL content is centered and responsive */
#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
